.FilmInput {
    height: 35px;
    width: 300px;
    outline: none;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    margin: 5px 0;
}
.DeleteButton {
    background-color: #c52d2d;
    height: 40px;
    border: none;
    padding: 0 20px;
    border-radius: 5px;
    margin-left: 5px;
    color: #fff;
}